.elementor-706 .elementor-element.elementor-element-adf58fb{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-706 .elementor-element.elementor-element-51fb947{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-end;--background-transition:0.3s;--padding-top:50px;--padding-bottom:50px;--padding-left:150px;--padding-right:50px;}.elementor-706 .elementor-element.elementor-element-559192c .elementor-heading-title{color:var( --e-global-color-c2d8b08 );font-family:"PPMori-SemiBold", Sans-serif;font-size:50px;font-weight:normal;}.elementor-706 .elementor-element.elementor-element-209976c{width:var( --container-widget-width, 80% );max-width:80%;--container-widget-width:80%;--container-widget-flex-grow:0;}.elementor-706 .elementor-element.elementor-element-209976c .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"PPMori-Regular", Sans-serif;font-size:18px;font-weight:normal;line-height:1.3em;}.elementor-706 .elementor-element.elementor-element-e99ff15{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-6460fb7 .elementor-button{background-color:var( --e-global-color-483a90e );font-family:"PPMori-Regular", Sans-serif;font-size:15px;font-weight:500;}.elementor-706 .elementor-element.elementor-element-e01d285 .elementor-button{background-color:var( --e-global-color-c2d8b08 );font-family:"PPMori-Regular", Sans-serif;font-size:15px;font-weight:500;}.elementor-706 .elementor-element.elementor-element-da5f2d9{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;--overlay-opacity:1;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-706 .elementor-element.elementor-element-da5f2d9::before, .elementor-706 .elementor-element.elementor-element-da5f2d9 > .elementor-background-video-container::before, .elementor-706 .elementor-element.elementor-element-da5f2d9 > .e-con-inner > .elementor-background-video-container::before, .elementor-706 .elementor-element.elementor-element-da5f2d9 > .elementor-background-slideshow::before, .elementor-706 .elementor-element.elementor-element-da5f2d9 > .e-con-inner > .elementor-background-slideshow::before, .elementor-706 .elementor-element.elementor-element-da5f2d9 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{background-image:url("./../../2025/03/dertrix-ring.png");--background-overlay:'';background-size:cover;}.elementor-706 .elementor-element.elementor-element-1fe6ed0 > .elementor-widget-container{margin:0px 0px -25px 0px;}.elementor-706 .elementor-element.elementor-element-1fe6ed0{z-index:99;text-align:right;}.elementor-706 .elementor-element.elementor-element-2a2a3e2{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;--padding-top:30px;--padding-bottom:30px;--padding-left:0px;--padding-right:0px;}.elementor-706 .elementor-element.elementor-element-2a2a3e2:not(.elementor-motion-effects-element-type-background), .elementor-706 .elementor-element.elementor-element-2a2a3e2 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-483a90e );}.elementor-706 .elementor-element.elementor-element-2a2a3e2, .elementor-706 .elementor-element.elementor-element-2a2a3e2::before{--border-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-764620c{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--background-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-89d0990 .elementor-heading-title{color:var( --e-global-color-42d287a );font-family:"PPMori-SemiBold", Sans-serif;font-size:25px;font-weight:normal;}.elementor-706 .elementor-element.elementor-element-bae270a .elementor-button{background-color:var( --e-global-color-483a90e );font-family:"PPMori-Regular", Sans-serif;font-size:15px;font-weight:500;border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-42d287a );}.elementor-706 .elementor-element.elementor-element-8d055da{--display:flex;--background-transition:0.3s;--padding-top:10px;--padding-bottom:10px;--padding-left:0px;--padding-right:0px;}.elementor-706 .elementor-element.elementor-element-20587b7{--display:flex;--background-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-431c415{--display:flex;--min-height:300px;--justify-content:center;--background-transition:0.3s;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:var( --e-global-color-42d287a );--border-color:var( --e-global-color-42d287a );--border-radius:10px 10px 10px 10px;--margin-top:0px;--margin-bottom:10px;--margin-left:0px;--margin-right:0px;--padding-top:35px;--padding-bottom:35px;--padding-left:35px;--padding-right:35px;}.elementor-706 .elementor-element.elementor-element-431c415, .elementor-706 .elementor-element.elementor-element-431c415::before{--border-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-33c05d3{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--background-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-ac7547c img{max-width:80%;}.elementor-706 .elementor-element.elementor-element-6da18db .elementor-heading-title{color:var( --e-global-color-42d287a );font-family:"PPMori-SemiBold", Sans-serif;font-size:19px;font-weight:normal;}.elementor-706 .elementor-element.elementor-element-d8ef214 .elementor-heading-title{color:var( --e-global-color-42d287a );font-family:"PPMori-Regular", Sans-serif;font-size:16px;font-weight:normal;line-height:1.3em;}.elementor-706 .elementor-element.elementor-element-3819d50{--display:flex;--background-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-f1ee729{--display:flex;--min-height:300px;--justify-content:center;--background-transition:0.3s;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:var( --e-global-color-42d287a );--border-color:var( --e-global-color-42d287a );--border-radius:10px 10px 10px 10px;--margin-top:0px;--margin-bottom:10px;--margin-left:0px;--margin-right:0px;--padding-top:35px;--padding-bottom:35px;--padding-left:35px;--padding-right:35px;}.elementor-706 .elementor-element.elementor-element-f1ee729, .elementor-706 .elementor-element.elementor-element-f1ee729::before{--border-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-3300fe5{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--background-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-316abf2 .elementor-heading-title{color:var( --e-global-color-42d287a );font-family:"PPMori-SemiBold", Sans-serif;font-size:19px;font-weight:normal;}.elementor-706 .elementor-element.elementor-element-20628ab .elementor-heading-title{color:var( --e-global-color-42d287a );font-family:"PPMori-Regular", Sans-serif;font-size:16px;font-weight:normal;line-height:1.3em;}.elementor-706 .elementor-element.elementor-element-34ca177{--display:flex;--background-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-11f80bc{--display:flex;--min-height:300px;--justify-content:center;--background-transition:0.3s;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:var( --e-global-color-42d287a );--border-color:var( --e-global-color-42d287a );--border-radius:10px 10px 10px 10px;--margin-top:0px;--margin-bottom:10px;--margin-left:0px;--margin-right:0px;--padding-top:35px;--padding-bottom:35px;--padding-left:35px;--padding-right:35px;}.elementor-706 .elementor-element.elementor-element-11f80bc, .elementor-706 .elementor-element.elementor-element-11f80bc::before{--border-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-21b9fbf{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--background-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-4283ae1 .elementor-heading-title{color:var( --e-global-color-42d287a );font-family:"PPMori-SemiBold", Sans-serif;font-size:19px;font-weight:normal;}.elementor-706 .elementor-element.elementor-element-384e2d7 .elementor-heading-title{color:var( --e-global-color-42d287a );font-family:"PPMori-Regular", Sans-serif;font-size:16px;font-weight:normal;line-height:1.3em;}.elementor-706 .elementor-element.elementor-element-fe47901{--display:flex;--background-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-6d1e165{--display:flex;--min-height:300px;--justify-content:center;--background-transition:0.3s;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:var( --e-global-color-42d287a );--border-color:var( --e-global-color-42d287a );--border-radius:10px 10px 10px 10px;--margin-top:0px;--margin-bottom:10px;--margin-left:0px;--margin-right:0px;--padding-top:35px;--padding-bottom:35px;--padding-left:35px;--padding-right:35px;}.elementor-706 .elementor-element.elementor-element-6d1e165, .elementor-706 .elementor-element.elementor-element-6d1e165::before{--border-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-83b8789{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--background-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-e1b0929 .elementor-icon-wrapper{text-align:center;}.elementor-706 .elementor-element.elementor-element-e1b0929.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-42d287a );}.elementor-706 .elementor-element.elementor-element-e1b0929.elementor-view-framed .elementor-icon, .elementor-706 .elementor-element.elementor-element-e1b0929.elementor-view-default .elementor-icon{color:var( --e-global-color-42d287a );border-color:var( --e-global-color-42d287a );}.elementor-706 .elementor-element.elementor-element-e1b0929.elementor-view-framed .elementor-icon, .elementor-706 .elementor-element.elementor-element-e1b0929.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-42d287a );}.elementor-706 .elementor-element.elementor-element-e1b0929 .elementor-icon{font-size:60px;}.elementor-706 .elementor-element.elementor-element-e1b0929 .elementor-icon svg{height:60px;}.elementor-706 .elementor-element.elementor-element-51a3fc4 .elementor-heading-title{color:var( --e-global-color-42d287a );font-family:"PPMori-SemiBold", Sans-serif;font-size:19px;font-weight:normal;}.elementor-706 .elementor-element.elementor-element-85bc86f .elementor-heading-title{color:var( --e-global-color-42d287a );font-family:"PPMori-Regular", Sans-serif;font-size:16px;font-weight:normal;line-height:1.3em;}.elementor-706 .elementor-element.elementor-element-b5577fb{--display:flex;--background-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-2d542ce{--display:flex;--min-height:300px;--justify-content:center;--background-transition:0.3s;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-top-width:1px;--border-right-width:1px;--border-bottom-width:1px;--border-left-width:1px;border-color:var( --e-global-color-42d287a );--border-color:var( --e-global-color-42d287a );--border-radius:10px 10px 10px 10px;--margin-top:0px;--margin-bottom:10px;--margin-left:0px;--margin-right:0px;--padding-top:35px;--padding-bottom:35px;--padding-left:35px;--padding-right:35px;}.elementor-706 .elementor-element.elementor-element-2d542ce, .elementor-706 .elementor-element.elementor-element-2d542ce::before{--border-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-0e83359{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--background-transition:0.3s;}.elementor-706 .elementor-element.elementor-element-0bc689f .elementor-heading-title{color:var( --e-global-color-42d287a );font-family:"PPMori-SemiBold", Sans-serif;font-size:19px;font-weight:normal;}.elementor-706 .elementor-element.elementor-element-d7296fe .elementor-heading-title{color:var( --e-global-color-42d287a );font-family:"PPMori-Regular", Sans-serif;font-size:16px;font-weight:normal;line-height:1.3em;}.elementor-706 .elementor-element.elementor-element-ba971f5{--e-n-carousel-swiper-slides-to-display:3;--e-n-carousel-swiper-offset-size:80px;--e-n-carousel-swiper-slides-gap:10px;--e-n-carousel-slide-height:auto;--e-n-carousel-slide-container-height:100%;--e-n-carousel-arrow-prev-left-align:0%;--e-n-carousel-arrow-prev-translate-x:0px;--e-n-carousel-arrow-prev-left-position:0px;--e-n-carousel-arrow-prev-top-align:50%;--e-n-carousel-arrow-prev-translate-y:-50%;--e-n-carousel-arrow-prev-top-position:0px;--e-n-carousel-arrow-next-right-align:0%;--e-n-carousel-arrow-next-translate-x:0%;--e-n-carousel-arrow-next-right-position:0px;--e-n-carousel-arrow-next-top-align:50%;--e-n-carousel-arrow-next-translate-y:-50%;--e-n-carousel-arrow-next-top-position:0px;}@media(max-width:1024px){.elementor-706 .elementor-element.elementor-element-ba971f5{--e-n-carousel-swiper-slides-to-display:2;}}@media(min-width:768px){.elementor-706 .elementor-element.elementor-element-adf58fb{--width:100%;}.elementor-706 .elementor-element.elementor-element-51fb947{--width:50%;}.elementor-706 .elementor-element.elementor-element-da5f2d9{--width:50%;}.elementor-706 .elementor-element.elementor-element-2a2a3e2{--content-width:1400px;}.elementor-706 .elementor-element.elementor-element-764620c{--content-width:1400px;}.elementor-706 .elementor-element.elementor-element-8d055da{--width:100%;}}@media(max-width:767px){.elementor-706 .elementor-element.elementor-element-adf58fb{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-706 .elementor-element.elementor-element-51fb947{--padding-top:25px;--padding-bottom:25px;--padding-left:25px;--padding-right:25px;}.elementor-706 .elementor-element.elementor-element-559192c .elementor-heading-title{font-size:25px;}.elementor-706 .elementor-element.elementor-element-209976c{--container-widget-width:100%;--container-widget-flex-grow:0;width:var( --container-widget-width, 100% );max-width:100%;}.elementor-706 .elementor-element.elementor-element-209976c .elementor-heading-title{font-size:14px;}.elementor-706 .elementor-element.elementor-element-6460fb7 .elementor-button{font-size:13px;}.elementor-706 .elementor-element.elementor-element-e01d285 .elementor-button{font-size:13px;}.elementor-706 .elementor-element.elementor-element-1fe6ed0 img{max-width:70%;}.elementor-706 .elementor-element.elementor-element-764620c{--padding-top:25px;--padding-bottom:25px;--padding-left:25px;--padding-right:25px;}.elementor-706 .elementor-element.elementor-element-89d0990 .elementor-heading-title{font-size:15px;}.elementor-706 .elementor-element.elementor-element-bae270a .elementor-button{font-size:14px;}.elementor-706 .elementor-element.elementor-element-431c415{--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-706 .elementor-element.elementor-element-6da18db .elementor-heading-title{font-size:13px;}.elementor-706 .elementor-element.elementor-element-d8ef214 .elementor-heading-title{font-size:14px;}.elementor-706 .elementor-element.elementor-element-f1ee729{--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-706 .elementor-element.elementor-element-20628ab .elementor-heading-title{font-size:14px;}.elementor-706 .elementor-element.elementor-element-11f80bc{--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-706 .elementor-element.elementor-element-384e2d7 .elementor-heading-title{font-size:14px;}.elementor-706 .elementor-element.elementor-element-6d1e165{--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-706 .elementor-element.elementor-element-e1b0929 .elementor-icon{font-size:25px;}.elementor-706 .elementor-element.elementor-element-e1b0929 .elementor-icon svg{height:25px;}.elementor-706 .elementor-element.elementor-element-85bc86f .elementor-heading-title{font-size:14px;}.elementor-706 .elementor-element.elementor-element-2d542ce{--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-706 .elementor-element.elementor-element-d7296fe .elementor-heading-title{font-size:14px;}.elementor-706 .elementor-element.elementor-element-ba971f5{--e-n-carousel-swiper-slides-to-display:1;--e-n-carousel-swiper-offset-size:0px;}}/* Start custom CSS for container, class: .elementor-element-431c415 */.elementor-706 .elementor-element.elementor-element-431c415:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-431c415:hover *,
.elementor-706 .elementor-element.elementor-element-431c415:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-f1ee729 */.elementor-706 .elementor-element.elementor-element-f1ee729:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-f1ee729:hover *,
.elementor-706 .elementor-element.elementor-element-f1ee729:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-11f80bc */.elementor-706 .elementor-element.elementor-element-11f80bc:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-11f80bc:hover *,
.elementor-706 .elementor-element.elementor-element-11f80bc:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-6d1e165 */.elementor-706 .elementor-element.elementor-element-6d1e165:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-6d1e165:hover *,
.elementor-706 .elementor-element.elementor-element-6d1e165:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-2d542ce */.elementor-706 .elementor-element.elementor-element-2d542ce:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-2d542ce:hover *,
.elementor-706 .elementor-element.elementor-element-2d542ce:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-431c415 */.elementor-706 .elementor-element.elementor-element-431c415:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-431c415:hover *,
.elementor-706 .elementor-element.elementor-element-431c415:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-f1ee729 */.elementor-706 .elementor-element.elementor-element-f1ee729:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-f1ee729:hover *,
.elementor-706 .elementor-element.elementor-element-f1ee729:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-11f80bc */.elementor-706 .elementor-element.elementor-element-11f80bc:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-11f80bc:hover *,
.elementor-706 .elementor-element.elementor-element-11f80bc:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-6d1e165 */.elementor-706 .elementor-element.elementor-element-6d1e165:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-6d1e165:hover *,
.elementor-706 .elementor-element.elementor-element-6d1e165:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-2d542ce */.elementor-706 .elementor-element.elementor-element-2d542ce:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-2d542ce:hover *,
.elementor-706 .elementor-element.elementor-element-2d542ce:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-431c415 */.elementor-706 .elementor-element.elementor-element-431c415:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-431c415:hover *,
.elementor-706 .elementor-element.elementor-element-431c415:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-f1ee729 */.elementor-706 .elementor-element.elementor-element-f1ee729:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-f1ee729:hover *,
.elementor-706 .elementor-element.elementor-element-f1ee729:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-11f80bc */.elementor-706 .elementor-element.elementor-element-11f80bc:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-11f80bc:hover *,
.elementor-706 .elementor-element.elementor-element-11f80bc:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-6d1e165 */.elementor-706 .elementor-element.elementor-element-6d1e165:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-6d1e165:hover *,
.elementor-706 .elementor-element.elementor-element-6d1e165:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-2d542ce */.elementor-706 .elementor-element.elementor-element-2d542ce:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-2d542ce:hover *,
.elementor-706 .elementor-element.elementor-element-2d542ce:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-431c415 */.elementor-706 .elementor-element.elementor-element-431c415:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-431c415:hover *,
.elementor-706 .elementor-element.elementor-element-431c415:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-f1ee729 */.elementor-706 .elementor-element.elementor-element-f1ee729:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-f1ee729:hover *,
.elementor-706 .elementor-element.elementor-element-f1ee729:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-11f80bc */.elementor-706 .elementor-element.elementor-element-11f80bc:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-11f80bc:hover *,
.elementor-706 .elementor-element.elementor-element-11f80bc:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-6d1e165 */.elementor-706 .elementor-element.elementor-element-6d1e165:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-6d1e165:hover *,
.elementor-706 .elementor-element.elementor-element-6d1e165:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-2d542ce */.elementor-706 .elementor-element.elementor-element-2d542ce:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-2d542ce:hover *,
.elementor-706 .elementor-element.elementor-element-2d542ce:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-431c415 */.elementor-706 .elementor-element.elementor-element-431c415:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-431c415:hover *,
.elementor-706 .elementor-element.elementor-element-431c415:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-f1ee729 */.elementor-706 .elementor-element.elementor-element-f1ee729:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-f1ee729:hover *,
.elementor-706 .elementor-element.elementor-element-f1ee729:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-11f80bc */.elementor-706 .elementor-element.elementor-element-11f80bc:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-11f80bc:hover *,
.elementor-706 .elementor-element.elementor-element-11f80bc:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-6d1e165 */.elementor-706 .elementor-element.elementor-element-6d1e165:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-6d1e165:hover *,
.elementor-706 .elementor-element.elementor-element-6d1e165:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-2d542ce */.elementor-706 .elementor-element.elementor-element-2d542ce:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-2d542ce:hover *,
.elementor-706 .elementor-element.elementor-element-2d542ce:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-431c415 */.elementor-706 .elementor-element.elementor-element-431c415:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-431c415:hover *,
.elementor-706 .elementor-element.elementor-element-431c415:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-f1ee729 */.elementor-706 .elementor-element.elementor-element-f1ee729:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-f1ee729:hover *,
.elementor-706 .elementor-element.elementor-element-f1ee729:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-11f80bc */.elementor-706 .elementor-element.elementor-element-11f80bc:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-11f80bc:hover *,
.elementor-706 .elementor-element.elementor-element-11f80bc:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-6d1e165 */.elementor-706 .elementor-element.elementor-element-6d1e165:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-6d1e165:hover *,
.elementor-706 .elementor-element.elementor-element-6d1e165:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-2d542ce */.elementor-706 .elementor-element.elementor-element-2d542ce:hover {
    background-color: black !important;
}

.elementor-706 .elementor-element.elementor-element-2d542ce:hover *,
.elementor-706 .elementor-element.elementor-element-2d542ce:hover i {
    color: white !important;
    fill: white !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'PPMori-SemiBold';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('./../../2025/03/PPMori-SemiBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'PPMori-Regular';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('./../../2025/03/PPMori-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */