.elementor-1040 .elementor-element.elementor-element-aae6cab{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-1040 .elementor-element.elementor-element-f1a23e3 .elementor-heading-title{color:var( --e-global-color-c2d8b08 );font-family:"PPMori-SemiBold", Sans-serif;font-size:17px;font-weight:normal;}@media(max-width:767px){.elementor-1040 .elementor-element.elementor-element-f1a23e3 .elementor-heading-title{font-size:25px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'PPMori-SemiBold';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('./../../2025/03/PPMori-SemiBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */